# APP CONFIGURATION
NEXT_PUBLIC_APP_URL="http://localhost:3000"


# DATABASE CONFIGURATION
DATABASE_HOST=
DATABASE_PORT=
DATABASE_NAME=
DATABASE_USER=
DATABASE_PASSWORD=


# AUTHENTICATION
# Generate with: npx auth secret
# https://cli.authjs.dev
AUTH_SECRET=


# CLOUDINARY CONFIGURATION
# https://cloudinary.com/console
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
NEXT_PUBLIC_CLOUDINARY_API_KEY=
